@media screen and (max-width: 450px) {
  #features {
    padding: 20px;
    width: 130%;
  } 
  #about,
  #services,
  #testimonials,
  #team,
  #contact,
  #footer {
    width: 130%;
  }

  #portfolio {
    width: 130%;
  }
}
